<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder file-encoding="UTF-8" location="props/jasypt.properties"/>

    <!-- id加解密 -->
    <bean id="jasyptProperties" class="guru.bootstrap.encrypt.jasypt.JasyptProperties">
        <property name="algorithm" value="${jasypt.algorithm}"/>
        <property name="password" value="${jasypt.password}"/>
        <property name="poolSize" value="${jasypt.poolSize}"/>
        <property name="stringOutputType" value="${jasypt.stringOutputType}"/>
    </bean>
    <bean class="guru.bootstrap.encrypt.jasypt.EncryptJasyptComponentImpl">
        <constructor-arg ref="jasyptProperties"/>
    </bean>

    <!-- 密码加解密 -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <bean class="guru.bootstrap.encrypt.bcrypt.PasswordEncryptorImpl">
        <constructor-arg ref="passwordEncoder"/>
    </bean>

</beans>