<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guru.bootstrap.shepherd.mapper.CoreLogonHistoryMapper">
    <insert id="insertCoreLogon" parameterType="coreLogonHistoryPO" useGeneratedKeys="true" keyColumn="rec_id"
            keyProperty="recId">
        insert into core_logon_history (user_id, auth_type, user_agent, logon_time, logon_ip)
        values (#{userId, jdbcType=BIGINT}, #{authType, jdbcType=TINYINT},
                #{userAgent, jdbcType=VARCHAR}, #{logonTime, jdbcType=TIMESTAMP},
                inet_aton(#{logonIp, jdbcType=INTEGER}))
    </insert>

</mapper>