<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guru.bootstrap.shepherd.mapper.UserMapper">
    <select id="selectOneById" resultType="guru.bootstrap.shepherd.po.UserPO">
        select user_id , username from core_user_info where user_id = #{userId}
    </select>
</mapper>